doctype html
html(lang=data.language)
  head
    meta(charset="UTF-8")
    meta(name="viewport",content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=0.6,user-scalable=no")
    title
      = data.title
    style
      != data.style

    script
      != data.script
    script.
      $(function () { prettyPrint() });
  body
   header.navbar.navbar-default(role="navigation")
      div.container-fluid
        div.navbar-header
          button.navbar-toggle(type="button",data-toggle="collapse",data-target="#site-nav")
            span.sr-only navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand
            = title
        nav#site-nav.collapse.navbar-collapse
          != data.navigation

    article.container-fluid
      != markdown(data.sections)

    article.container-fluid
      - for(var cnt = 0; cnt < data.codes.length; cnt++)
        div.highlight
          pre
            code.prettyprint.lang-sass
              != data.codes[cnt]

